<div class="item_form_container">
  <div class="item_header"></div>
  <div class="item_body">
    <%= form_for :item, url: 'admin_item' %>
    <div class="category_selection">

    </div>
  </div>
  <div class="item_footer"></div>
</div>