<footer id="footer"><!--Footer-->

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2><span>Kapoor</span> Handlooms</h2>
            <p>Manufacture & Exporter of all handloom furnishings.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <!--<img src="images/home/iframe1.png" alt="" />-->
                  <%#= image_tag (Category.where(name: 'curtains').take.item_variants.collect(&:item_image).compact).first %>
                </div>
                <!--<div class="overlay-icon">-->
                  <!--<i class="fa fa-play-circle-o"></i>-->
                <!--</div>-->
              </a>
              <p>Curtains</p>
              <!--<h2>24 DEC 2014</h2>-->
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <!--<img src="images/home/iframe2.png" alt="" />-->
                </div>
                <!--<div class="overlay-icon">-->
                  <!--<i class="fa fa-play-circle-o"></i>-->
                <!--</div>-->
              </a>
              <p>Bedspreads & Throws</p>
              <!--<h2>24 DEC 2014</h2>-->
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <!--<img src="images/home/iframe3.png" alt="" />-->
                </div>
                <!--<div class="overlay-icon">-->
                  <!--<i class="fa fa-play-circle-o"></i>-->
                <!--</div>-->
              </a>
              <p>Rugs & Carpets</p>
              <!--<h2>24 DEC 2014</h2>-->
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <!--<img src="images/home/iframe4.png" alt="" />-->
                </div>
                <!--<div class="overlay-icon">-->
                  <!--<i class="fa fa-play-circle-o"></i>-->
                <!--</div>-->
              </a>
              <p>Furniture</p>
              <!--<h2>24 DEC 2014</h2>-->
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <!--<img src="images/home/map.png" alt="" />-->
            <p>Durga Nagar, Hissar Road, Ambala, <br/>Haryana 134003<br/>
              Call us: +919315470305, +919315601723</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo pull-left">
            <ul class="nav nav-pills">
              <li><%= link_to 'About us', about_us_path, target: '_blank' %></li>
              <li><a href="#"><i class="fa fa-phone"></i> +91 80 48 586 816</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> kapoorhandloomexp@gmail.com</a></li>
            </ul>
          </div>
          <!--<p class="pull-right">Copyright © 2017 Kapoor Exports. All rights reserved.</p>-->
          <!--<span class="pull-left about_us"><%#= link_to 'About Us', '#' %></span>-->
        </div>

        <div class="social-icons pull-right designed_by">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to about_us_path do %>
                  <i class="fa fa-address-book-o"></i>
              <% end %>
            </li>
            <li><a href="https://www.facebook.com/Indianrugkapoorhandlooms"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/kapoorhandlooms"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/naresh-kapoor-b8941440"><i class="fa fa-linkedin"></i></a></li>
            <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
            <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>


        <!--<div class="col-sm-6 designed_by">-->

          <!--<p class="pull-right">Developed by <span><a target="_blank" href="javascript:void(0);">G & G</a></span></p>-->

        <!--</div>-->
      </div>
    </div>
  </div>

</footer><!--/Footer-->