<footer id="footer"><!--Footer-->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo pull-left">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
            </ul>
          </div>
          <!--<p class="pull-right">Copyright © 2017 Kapoor Exports. All rights reserved.</p>-->
          <!--<span class="pull-left about_us"><%#= link_to 'About Us', '#' %></span>-->
        </div>
        <div class="col-sm-6 designed_by">

          <p class="pull-right">Developed by <span><a target="_blank" href="javascript:void(0);">G & G</a></span></p>

        </div>
      </div>
    </div>
  </div>

</footer><!--/Footer-->