#header {
  //background-color: rgba(47, 79, 79, 0.7);
  background-color: rgba(0, 0, 0, 0.6);
  i {
    color: #fff;
  }

  .logo{
    .companyinfo{
      margin-top: 0;
    }
  }
}

.header_top {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}