.form_field {
  border-radius: 0;
  border: 1px solid #000;
  line-height: 25px;
}

.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.wthree.nav_2 {
  a.agileinfo {
    color: #fff
  }
}

.new_user{
  input{
    padding-left: 5px;
  }
}

li.wthreesearch{
  margin-right: 43px;
}

#agileitshome{
  a.navbar-brand.agileinfo{
    margin-left: 0px;
  }
}

.effect-apollo{
  width: 550px;
  height: 325px;
}